---
layout: default
---
<div class="container">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
          <div>
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- notes -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-4266616052944611"
                     data-ad-slot="8122425089"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
          </div>
          <h3 itemprop="name headline">
              {{ page.title }}
              <small> {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</small></h3>
          <h5><small>(<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>) </small></h5>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

    </article>
</div>
